@font-face {
  font-family: 'Kaige';
  src: local('Kaige'), url(./fonts/KAIGE.ttf) format('truetype');
}

@font-face {
  font-family: 'LeagueSpartan';
  src: local('LeagueSpartan'), url(./fonts/LeagueSpartan-Bold.otf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url(./fonts/Montserrat-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: local('Montserrat-Light'), url(./fonts/Montserrat-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand-Light';
  src: local('Quicksand-Light'), url(./fonts/Quicksand-Light.otf) format('truetype');
}

@font-face {
  font-family: 'Quicksand-Bold';
  src: local('Quicksand-Bold'), url(./fonts/Quicksand-Bold.otf) format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}