@font-face {
  font-family: 'Kaige';
  src: local('Kaige'), url(./fonts/KAIGE.ttf) format('truetype');
}

@font-face {
  font-family: 'LeagueSpartan';
  src: local('LeagueSpartan'), url(./fonts/LeagueSpartan-Bold.otf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url(./fonts/Quicksand-Light.otf) format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
